<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--  自动扫描包，让注解生效，由IOC容器管理  -->
    <context:component-scan base-package="com.quan.controller"/>

    <!--  让SpringMVC不处理静态资源 .css .js .html .mp3..... -->
    <mvc:default-servlet-handler/>

    <!--
    开启注解！
    在 Spring 中采用 @RequestMapping 注解来完成映射关系
    要使 @RequestMapping 注解生效
    必须注册 DefaultAnnotationHandlerMapping
    和 AnnotationMethodHandlerAdapter 对象
    这两个实例分别在类级别和方法级别处理。
    annotation-driven 配置自动完成上述两个实例的注入！
-->
    <mvc:annotation-driven/>

    <!-- 视图解析器：这个还是一样 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <!-- 后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>


    <!-- JSON乱码问题解决 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="failOnEmptyBeans" value="false"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

</beans>